<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>Splurty was built by <a target="_blank" href="http://github.com/rheckman151">Ryan Heckman</a>
  </p>

  <br />

  <p>The perfect spot for sports quotes!</p>

  <br />

  <p>If you would like to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>
  </p>

  <div class="row">
    
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Ryan Heckman</h2>

      <br />

      <p>Ryan Heckman is a web developer. He is currently enrolled in the University of Arizona Coding Bootcamp</p>

      <br class="clear" />
      
    </div>

  </div>

</div>

<br class="clear">
<br />
<br />
<br />
<br />